
<div class="dropdown">
  <div id="builder" class="query-builder form-inline"> </div>
  <div class="btn-group">
    <button id="btn-apply" class="btn btn-primary" data-target="basic">Apply query</button>
    <button id="btn-set" class="btn btn-success" data-target="basic">Set organisms query</button>
    <button id="btn-get" class="btn btn-primary" data-target="basic">Get organisms query</button>
    <button id="btn-reset" class="btn btn-warning" data-target="basic">Reset organisms query</button>
    <button id="clear_filter" data-toggle="tooltip" data-placement="top" title="Clear all table filters" type="button" class="btn btn-primary">Reset table</button>
  </div>
</div>