<div id="meta_text" style="text-align:left">
    Metadata:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('name',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Latin name of the organism" type="button" class="btn btn-success header_butt"> Name </button>
    <button onclick="column_hide('tax',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Taxonomy" type="button" class="btn btn-success header_butt"> Tax </button>
    <button onclick="column_hide('common_name',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="English name of the organism" type="button" class="btn btn-success header_butt"> Common name </button>
    <button onclick="column_hide('version',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Version of NCBI Annotation release" type="button" class="btn btn-success header_butt"> Annotation version </button>
    <button onclick="column_hide('date',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Date of NCBI Annotation release" type="button" class="btn btn-success header_butt"> Annotation date </button>
</div>
<div style="text-align:left">
    Counters:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('gene_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of genes" type="button" class="btn btn-success header_butt"> #Genes </button>
    <button onclick="column_hide('iso_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of isoforms" type="button" class="btn btn-success header_butt"> #Isoforms </button>
    <button onclick="column_hide('exon_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of exons" type="button" class="btn btn-success header_butt"> #Exons </button>
    <button onclick="column_hide('intron_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of introns without errors" type="button" class="btn btn-success header_butt"> #Introns </button>
    <button onclick="column_hide('intron_with_error',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of introns with annotation errors" type="button" class="btn btn-success header_butt"> #Broken introns </button>
    <button onclick="column_hide('phase_0_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of introns with 0 phase (only correct introns)" type="button" class="btn btn-success header_butt"> #Phase 0 </button>
    <button onclick="column_hide('phase_1_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of introns with 1 phase (only correct introns)" type="button" class="btn btn-success header_butt"> #Phase 1 </button>
    <button onclick="column_hide('phase_2_count',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Number of introns with 2 phase (only correct introns)" type="button" class="btn btn-success header_butt"> #Phase 2 </button>
</div>
<div style="text-align:left">
    Percents:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('phase_0_persent',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Percent of introns with phase 0 (only correct introns)" type="button" class="btn btn-success header_butt"> %Phase 0 </button>
    <button onclick="column_hide('phase_1_persent',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Percent of introns with phase 1 (only correct introns)" type="button" class="btn btn-success header_butt"> %Phase 1 </button>
    <button onclick="column_hide('phase_2_persent',this,'#organism_table')" data-toggle="tooltip" data-placement="top" title="Percent of introns with phase 2 (only correct introns)" type="button" class="btn btn-success header_butt"> %Phase 2 </button>
</div>