<div class="header">

	<div class="header_text">
		<h2 style="text-align: center">
		EIS-DB: Exon-Intron Structure Database
		</h2>
	</div>

</div>

<div id="load-block">
	<div id="load-animation"></div>
	<div id="load-screen"></div>
</div>