
<h1 class='main'> statistics and exons grouping </h1>


<nav>
  <ul class='nav'>
    <li class='nav'> <h1> <%= link_to "about",   about_path, { :class => "menu"} %> </h1> </li>
    <li class='nav'> <h1> <%= link_to "load",   loads_new_path, { :class => "menu"} %> </h1> </li>
  </ul>
</nav>