<div>

    <div id="column_headers" class="btn-group column_headers" data-toggle="buttons">
        <button onclick="column_hide('name',this)" data-toggle="tooltip" data-placement="top" title="Latin name of the organism" id="header_butt" type="button" class="btn btn-success header_butt"> Name </button>
        <button onclick="column_hide('tax',this)" data-toggle="tooltip" data-placement="top" title="Taxonomy" id="header_butt" type="button" class="btn btn-success header_butt"> Tax </button>
        <button onclick="column_hide('common_name',this)" data-toggle="tooltip" data-placement="top" title="English name" id="header_butt" type="button" class="btn btn-success header_butt"> Common name </button>
        <button onclick="column_hide('version',this)" data-toggle="tooltip" data-placement="top" title="Version of NCBI Annotation release" id="header_butt" type="button" class="btn btn-success header_butt"> Annotation version </button>
        <button onclick="column_hide('date',this)" data-toggle="tooltip" data-placement="top" title="Version of NCBI Annotation release" id="header_butt" type="button" class="btn btn-success header_butt"> Annotation date </button>
        <button onclick="column_hide('gene_count',this)" data-toggle="tooltip" data-placement="top" title="Number of genes" id="header_butt" type="button" class="btn btn-success header_butt"> #Genes </button>
        <button onclick="column_hide('iso_count',this)" data-toggle="tooltip" data-placement="top" title="Number of isoforms" id="header_butt" type="button" class="btn btn-success header_butt"> #Isoforms </button>
        <button onclick="column_hide('exon_count',this)" data-toggle="tooltip" data-placement="top" title="Number of exons" id="header_butt" type="button" class="btn btn-success header_butt"> #Exons </button>
        <button onclick="column_hide('intron_count',this)" data-toggle="tooltip" data-placement="top" title="Number of introns without errors" id="header_butt" type="button" class="btn btn-success header_butt"> #Introns </button>
        <button onclick="column_hide('intron_with_error',this)" data-toggle="tooltip" data-placement="top" title="TNumber of introns with annotation errors" id="header_butt" type="button" class="btn btn-success header_butt"> Broken introns </button>
        <button onclick="column_hide('phase_0_count',this)" data-toggle="tooltip" data-placement="top" title="Number of introns with 0 phase (only correct introns)" id="header_butt" type="button" class="btn btn-success header_butt"> #Phase 0 </button>
        <button onclick="column_hide('phase_1_count',this)" data-toggle="tooltip" data-placement="top" title="Number of introns with 1 phase (only correct introns)" id="header_butt" type="button" class="btn btn-success header_butt"> #Phase 1 </button>
        <button onclick="column_hide('phase_2_count',this)" data-toggle="tooltip" data-placement="top" title="Number of introns with 2 phase (only correct introns)" id="header_butt" type="button" class="btn btn-success header_butt"> #Phase 2 </button>
        <button onclick="column_hide('phase_0_persent',this)" data-toggle="tooltip" data-placement="top" title="Percent of introns with phase 0 (only correct introns)" id="header_butt" type="button" class="btn btn-success header_butt"> %Phase 0 </button>
        <button onclick="column_hide('phase_1_persent',this)" data-toggle="tooltip" data-placement="top" title="Percent of introns with phase 1 (only correct introns)" id="header_butt" type="button" class="btn btn-success header_butt"> %Phase 1 </button>
        <button onclick="column_hide('phase_2_persent',this)" data-toggle="tooltip" data-placement="top" title="Percent of introns with phase 2 (only correct introns)" id="header_butt" type="button" class="btn btn-success header_butt"> %Phase 2 </button>
    </div>
    <div class="load_button">
        <button id="load_button" type="button" class="btn btn-secondary">Download table</button>
    </div>

</div>
<div class="ex_table" id="example-table" ></div>