<div class="orgfields">
<select id="orgfields" multiple="multiple">
    <option class="vals" value="name" selected="selected" >Name</option>
    <option class="vals" value="tax" selected="selected" >Tax</option>
    <option class="vals" value="common_name" selected="selected">Common name</option>
    <option class="vals" value="version" selected="selected">Annotation version</option>
    <option class="vals" value="date" selected="selected">Annotation date</option>
    <option class="vals" value="gene_count" selected="selected">#Genes</option>
    <option class="vals" value="iso_count" selected="selected">#Isoforms</option>
    <option class="vals" value="exon_count" selected="selected">#Exons</option>
    <option class="vals" value="intron_count" selected="selected">#Introns</option>
    <option class="vals" value="intron_with_error" selected="selected">Broken introns</option>
    <option class="vals" value="phase_0_count" selected="selected">#Phase 0</option>
    <option class="vals" value="phase_1_count" selected="selected">#Phase 1</option>
    <option class="vals" value="phase_2_count" selected="selected">#Phase 2</option>
    <option class="vals" value="phase_0_persent" selected="selected">%Phase 0</option>
    <option class="vals" value="phase_1_persent" selected="selected">%Phase 1</option>
    <option class="vals" value="phase_2_persent" selected="selected">%Phase 2</option>
</select>
</div>

<div class="ex_table" id="example-table" ></div>