
<%= render "header" %>
<%= render "static_pages/genes/gene_table_filters" %>

<div id="gene-query-get-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Paste this query to "Set query" box</h2>
    </div>
    <div class="modal-body">
      <textarea id="gene-query-get-text" class="rules"></textarea>
      <button id="btn-gene-query-get-as-file" class="btn btn-success" data-target="basic">Get as file</button>
    </div>
  </div>
</div>

<div id="gene-query-set-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Insert query from "Get query" box</h2>
    </div>
    <div class="modal-body">
      <textarea id="gene-query-set-text" class="rules"></textarea>
        <div class="btn-group">
        <button id="btn-gene-query-set" class="btn btn-success" data-target="basic">Set</button>
        <input type="file" id="btn-gene-query-set-from-file" class="btn btn-warning" />
        </div>
    </div>
  </div>
</div>

<!-- <div id="outer_center">

    <div id="inner_center">
        <ul class="nav nav-tabs tabs-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#organism_settings" role="tab">Step 1. Select organisms </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#genes_settings" role="tab">Step 2. Select genes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#other" role="tab">Other</a>
          </li>
          </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active " id="organism_settings" role="tabpanel">
              <%= render "static_pages/organisms/organism_select_tab"%>
            </div>
            <div class="tab-pane" id="genes_settings" role="tabpanel">
              <%= render "static_pages/genes/gene_select_tab" %>
            </div>
        </div>
        <div class="ex_table" id="organism_table" ></div>
        <div class="ex_table" id="gene_table" ></div>
    </div>
<div>

<div id="getModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Paste this query to "Set query" box</h2>
    </div>
    <div class="modal-body">
      <textarea id="get_rules" class="rules"></textarea>
      <button id="btn_get_as_file" class="btn btn-success" data-target="basic">Get as file</button>
    </div>
  </div>
</div>

<div id="setModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Insert query from "Get query" box</h2>
    </div>
    <div class="modal-body">
      <textarea id="set_rules" class="rules"></textarea>
        <div class="btn-group">
        <button id="btn_set_rules" class="btn btn-success" data-target="basic">Set</button>
        <input type="file" id="btn_set_rules_from_file" class="btn btn-warning" />
        </div>
    </div>
  </div>

</div> -->

