
<nav>
  <ul class='nav'>
    <li class='nav'> <h1> <%= link_to "back", main_path %> </h1> </li>
  </ul>
</nav>

<h1 class='loadinfo'> we support orthologs files in txt format from NCBI Annotation Pipeline </h1>

