<div id="meta_text" style="text-align:left">
    Metadata:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('name',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Latin name of the organism" type="button" class="btn btn-success header_butt"> Name </button>
</div>
<div style="text-align:left">
    Genes:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Number of genes" type="button" class="btn btn-success header_butt"> #Genes </button>
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Number of selected genes" type="button" class="btn btn-success header_butt"> #Selected genes </button>
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Percent of selected genes" type="button" class="btn btn-success header_butt"> %Selected genes </button>

</div>
<div style="text-align:left">
    Isoforms:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Number of isoforms" type="button" class="btn btn-success header_butt"> #Isoforms </button>
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Number of selected isoforms" type="button" class="btn btn-success header_butt"> #Selected isoforms </button>
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Percent of selected isoforms" type="button" class="btn btn-success header_butt"> %Selected isoforms </button> 
</div>
<div style="text-align:left">
    Exons/Intons:
</div>
<div class="btn-group column_headers" data-toggle="buttons">
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Number of selected exons" type="button" class="btn btn-success header_butt"> #Exons </button>
    <button onclick="column_hide('gene_count',this,'#gene_table')" data-toggle="tooltip" data-placement="top" title="Number of selected introns" type="button" class="btn btn-success header_butt"> #Introns </button>
</div>