<div class="dropdown">
  <div id="gene-filter" class="query-builder form-inline"> </div>
  <div class="btn-group">
    <button id="gene-btn-apply" class="btn btn-success" data-target="basic">Apply query</button>
    <button id="gene-btn-set" class="btn btn-success" data-target="basic">Set query</button>
    <button id="gene-btn-get" class="btn btn-primary" data-target="basic">Get query</button>
    <button id="gene-btn-reset" class="btn btn-warning" data-target="basic">Reset query</button>
  </div>
</div>