Selected organisms: <div id="selected_organisms_names"></div>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="show_gene_query">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#gene_filter" aria-expanded="true" aria-controls="gene_filter">
          Make query
        </a>
      </h5>
    </div>
    <div id="gene_filter" class="collapse show" role="tabpanel" aria-labelledby="show_gene_query">
      <div class="card-block">
        <div class="dropdown">
          <%= render "static_pages/genes/gene_table_filters" %>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="show_gene_headers">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#gene_headers" aria-expanded="true" aria-controls="gene_headers">
          Show/hide table columns
        </a>
      </h5>
    </div>
    <div id="gene_headers" class="collapse show" role="tabpanel" aria-labelledby="show_gene_headers">
      <div class="card-block">
        <%= render "static_pages/genes/gene_table_headers" %> 
      </div>
    </div>
  </div>
</div>
<button id="gene-load-table-button" data-toggle="tooltip" data-placement="top" title="Download table as CSV" type="button" class="btn btn-secondary">Download small table</button>
<button id="gene-load-full-table-button" data-toggle="tooltip" data-placement="top" title="Download full table as CSV" type="button" class="btn btn-secondary">Download full table</button>