<div class="dropdown">
  <div id="exon-filter" class="query-builder form-inline"> </div>
  <div class="btn-group">
    <button id="exon-btn-apply" class="btn btn-primary" data-target="basic">Apply query</button>
    <button id="exon-btn-set" class="btn btn-success" data-target="basic">Set exons query</button>
    <button id="exon-btn-get" class="btn btn-primary" data-target="basic">Get exons query</button>
    <button id="exon-btn-reset" class="btn btn-warning" data-target="basic">Reset exons query</button>
  </div>
</div>