<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="show_exon_query">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#exon_filter" aria-expanded="true" aria-controls="exon_filter">
          Make query
        </a>
      </h5>
    </div>
    <div id="exon_filter" class="show" role="tabpanel" aria-labelledby="show_exon_query">
      <div class="card-block">
        <div class="dropdown">
          <%= render "static_pages/exons/exon_table_filters" %>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="card">
    <div class="card-header" role="tab" id="show_exon_headers">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#exon_headers" aria-expanded="true" aria-controls="exon_headers">
          Show/hide table columns
        </a>
      </h5>
    </div>
    <div id="exon_headers" class="collapse show" role="tabpanel" aria-labelledby="show_exon_headers">
      <div class="card-block">
        <%= render "static_pages/exons/exon_table_headers" %> 
      </div>
    </div>
  </div> -->
</div>
<!-- <button id="exon-load-table-button" data-toggle="tooltip" data-placement="top" title="Download table as CSV" type="button" class="btn btn-secondary">Download small table</button>
<button id="exon-load-full-table-button" data-toggle="tooltip" data-placement="top" title="Download full table as CSV" type="button" class="btn btn-secondary">Download full table</button> -->