
@import "bootstrap";
@import "query-builder.default";
@import "tabulator";
@import "modalpopup";
@import "typeahead";

@font-face {
	font-family: Template;
	src: url("digital.woff");
}

html {
  font-size: 15px;
}

.header_butt.active {
  background-color: #a3a3a3 !important;
}

label.btn-xs {
  background-color: #a3a3a3 !important;
}

label.btn-xs.active {
  background-color: #449d44 !important;
}

div#gene_table {
	display: none;
}

div#meta_text{
  margin-top: 20px;
}

div#accordion{
	margin-top: 20px;	
}

div.header{
  margin: 0px;
  margin-top: 0px;
  height: 50px;
}
div.header_text{
  margin: 20px;
}

div#outer_center{
  width:100%
}

div#inner_center{
  width: 80%;
  margin: 0 auto;
}

h1{
	font-family: Template;
    color: black;
}

div.load_button{
  padding-left: 40px;
}

div.column_headers{
  padding: 10px;
  margin-left: 0px;
  padding-left: 0px;
}

h1.main {
	left: 25%;
	line-height: 1;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50%;
	font-family: Template;
	color: black;
}

div.loadinfo{
	margin-top: -50px;
}

div.ex_table{
  font-size: 10px;
  margin-top: 50px;
  width: 1200px;
}

button.header_butt{
  font-size: 12px;
}

button#btn_set_rules{
	height: 44px;
}

h1.loadinfo{
	left: 25%;
	line-height: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50%;
	font-family: Template;
	color: black;
}

form.load {
	left: 25%;
	line-height: 1;
	position: absolute;
	text-align: left;
	top: 40%;
	width: 30%;
	font-family: Template;
	color: black;
}

nav{
	left: 0;
	line-height: 200px;
	margin-top: -300px;
	margin-left: 50px;
	position: absolute;
	text-align: left;
	top: 50%;
	width: 100%;

}

li.nav {
	list-style-type: none;
	margin: 10px 0; 
	line-height: 2;
}

li.load{
	list-style-type: none;
	margin: left; 
	line-height: 2;	
}

a.submenu{
	font-family: Template;
	color: black;	
}

a.menu {
	font-family: Template;
	color: black;
}

div.gene_input{
  padding: 40px;
  width: 250px;
}

div.organism_input{
  padding: 40px;
  width: 250px;
}

ul.dropdown-menu{
  font-size: 13px;
  line-height: 1.2;
}

#load-block{
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
}

#load-animation{
	background-image: url('animal.gif');
	background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
	width: 100px;
	height: 100px;
	z-index: 100;
}

#load-screen{
	background-color: #ccc;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 99;
	position: absolute;
}

