/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: Template;
	src: url("digital.woff");
}
h1.main {
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	font-family: Template;
	color: white;
}

h1.loadinfo{
	left: 0;
	line-height: 200px;
	margin-top: -200px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	font-family: Template;
	color: white;
}

nav{
	left: 0;
	line-height: 200px;
	margin-top: -300px;
	margin-left: 50px;
	position: absolute;
	text-align: left;
	top: 50%;
	width: 100%;

}

li.nav {
	list-style-type: none;
	margin: 10px 0; 
	line-height: 4;
}
a.menu {
	font-family: Template;
	color: white;
	text-decoration: none;
}

a{
	font-family: Template;
	color: white;	
}

h1{
	font-family: Template;
    color: white;
}

body {
	background-image: url('rainbow.jpg');
}