<div>
	<div class="report_text"> Enter report ID here: </div>
	<%= search_field_tag 'report_search', "" %>
</div>

<div class="report_data">
	<h2 id="report_id"></h2>
	<h2 id="report_state"></h2>
	<h2 id="report_created_at"></h2>
	<h2 id="report_load_link"></h2>
</div>
<a target="_blank" href="#" id="download_report_btn" class="btn btn-primary btn-lg disabled" role="button" aria-pressed="true" >Download report</a>